/* You can add global styles to this file, and also import other style files */
@import 'src/styles/variables';

* {
    box-sizing: border-box;
    color: $textColor;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}
