@import 'src/styles/variables';

.todo__container {
    max-width: 992px;
    margin: 0 auto;
    padding: 40px 0;
    border-radius: 5px;
    background-color: $todoBg;
    box-shadow: 0px 0px 10px $shadowColor;
}